
.bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, 0.1);
            border: solid rgba(0, 0, 0, 0.15);
            border-width: 1px 0;
            box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
                inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -0.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        /* style coba */
        .hero {
            background: linear-gradient(to bottom, rgba(0, 129, 243, 0.9), rgba(7, 63, 112, 0.7)),
                url("{{ asset('pengguna/img/pemandangan.jpg') }}") no-repeat center;
            background-size: cover;
            height: 100vh;
            position: relative;
        }

        /* Styling untuk teks di atas background */
        .hero-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #fff;
            width: 80%;
            max-width: 800px;
            font-family: 'Gloock', serif;

        }

        .paket-h1 {
            font-family: 'Gloock', serif;
        }

        .hero-text h1 {
            font-size: 5rem;
            margin-bottom: 1rem;
        }

        .hero-text p {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .hero-text button {
            background-color: #0c7cd5;
            border: none;
            color: #fff;
            padding: 1rem 2rem;
            font-size: 1.2rem;
            cursor: pointer;
        }



        /* Styling untuk responsif */
        @media only screen and (max-width: 768px) {
            .hero-text {
                width: 90%;

            }

            .hero-text h1 {
                font-size: 3rem;
            }

            .hero-text p {
                font-size: 1.2rem;
            }

            .hero-text button {
                font-size: 1rem;
            }
        }